body{
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Roboto, sans-serif;
    background-color: yellow;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.section1{ /*Seccion 1*/
    width:1100px;
    background-color: blue;
    
}
.header{
    
    display: flex;
}

.header img{
    width: 150px;
    height: 50px;
}
.contenido{
    display: flex;
}
.contenido img{
    width: 400px;
    height: auto;
    margin: 50px;
}

.section2{ /*SECCION 2*/
    width:1100px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.header2{
    text-align: center;
}
.item1 img{
    width: 150px;
    height: 150px;
}
.container{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
}
.item1{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
.section3{ /*Seccion 3*/
    width:1100px;
    height: 500px;
    background-color: blueviolet;
}
.section4{
    width:1100px;
    background-color: aliceblue;
}
.footer{
    width:1100px;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.links{
    
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}